#output, #output2 {
  margin-top: 100px;
  height: 300px;
  width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
#output2 {
  margin-top: 0;
}

#output.hidden::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://picsum.photos/1000/300) 50% 50%;
  background-size: cover;
}

.box {
  font-size: 36px;
  margin: 0 12px;
}

.box.green {
  background-color: green;
}
.box.red {
  background-color: red;
}